/* General styles */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  color: black;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Landing Page */
.landing-container {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  color: black;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.header h1 {
  margin: 0;
}

.nav-button {
  text-decoration: none;
  color: black;
  margin: 0 15px;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
  transition: 0.3s;
}

.nav-button:hover {
  background-color: black;
  color: white;
}

.hero {
  padding: 50px 20px;
  background: linear-gradient(to right, #d9d9d9, #f5f5f5);
  background: linear-gradient(to right, #f08080, #ffb6c1);
  color: black;
}

.hero h2 {
  font-size: 2rem;
}

.cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}

.cta-button:hover {
  background-color: gray;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
}

.gallery img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}

/* Login & Signup */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
}

.login-signup-box {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  padding-right: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid black;
  background-color: white;
}

.login-signup-box h2 {
  margin-bottom: 20px;
}

.login-signup-box label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
  font-weight: bold;
}

.login-signup-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
  margin-right: 15px;
  border: 1px solid black;
  border-radius: 5px;
  background: transparent;
  color: black;
}
.error-text{
color:red;
position: absolute;
left: 5px;
bottom: 0px;
font-size:12px;
text-align: left;
}

.login-signup-box button {
  width: 105%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}

.login-signup-box button:hover {
  background-color: gray;
}

.signup-link,
.auth-link {
  margin-top: 10px;
}

.signup-link a,
.auth-link a {
  color: black;
  text-decoration: underline;
}

.signup-link a:hover,
.auth-link a:hover {
  color: gray;
}

/* dashborad */
.dashboard-header {
  display: grid;
  grid-template-columns: 19vw auto 19vw;
  column-gap: 25px;
  width: 100%;
  height: 80px;
}

.logo {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.logo span {
  font-size: 32px;
  text-align: left;
  margin-left: 30px;
  font-weight: 500;
  font-family: "Mongolian Baiti", sans-serif;
}

.seller-bar {
  background-color: #fff;
}

.seller-btn {
  font-size: 16px;
  font-weight: 600;
  background-color: #88c2bb;
  color: #ffffff;
  border: 0;
  border-radius: 10px;
}

.search-bar {
  background-color: #fff;
  border-radius: 10px;
  display: grid;
  flex-direction: row;
  grid-template-columns: auto 5vw;
  column-gap: 10px;
  padding: 15px 20px;
}

.search-wrapper {
  display: grid;
  flex-direction: row;
  grid-template-columns: 2vw auto;
  align-items: center;
}

.search-bar .searchIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.search-bar input {
  height: 26px;
  outline: none;
  font-size: 14px;
  border: 1px;
}

.search-bar input::placeholder {
  color: #9a9a9e;
}

.search-bar .search-filter-contianer {
  display: flex;
  align-items: center;
  margin: 0;
}

.search-bar .search-filter-contianer span {
  font-size: 14px;
  color: #303030;
}

.search-bar .filterIcon {
  width: 26px;
  height: 26px;
}

.dashboard-content {
  display: grid;
  grid-template-columns: 19vw auto 19vw;
  column-gap: 25px;
  width: 100%;
  height: 80px;
  margin-top: 25px;
}

/* Sidebar Container */

aside {
  height: 72%;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 0 0 0;
  display: grid;
  flex-direction: column;
  row-gap: 0px;
  margin-bottom: 50px;
}

/* Sidebar Items */

.div-active {
  height: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  padding-left: 25px;
  margin-bottom: 30px;
  border: solid 1px #fff;
  border-left-color: #88c2bb;
  border-left-width: 3px;
}

.div-inactive {
  height: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  padding-left: 25px;
  margin-bottom: 30px;
  border: solid 1px #fff;
  border-left-color: #fff;
  border-left-width: 3px;
}

.aside-icons-active,
.aside-icons-inactive {
  height: 16px;
  width: 17px;
  margin-right: 10px;
}

aside .span-inactive {
  font-size: 16px;
  color: #8d8d8d;
}

aside .span-active {
  font-size: 16px;
  color: #101010;
}

/* Logout Button */
.logout {
  color: #88c2bb;
}

/* card styles */

.card-container {
  height: 650px;
  width: 100%;
}
/* .card-wrapper {
  height: 450px;
  width: 100%;
  
} */

.card {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 25px;
}

.card-post {
  padding: 25px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header-image-text-contianer {
  display: flex;
  align-items: center;
}

.card-header-image-text-contianer .profile-image {
  height: 48px;
  width: 48px;
  border-radius: 10px;
  background: transparent 0% 0% no-repeat padding-box;
  margin-right: 15px;
}

.card-header-text-container h3 {
  font-size: 20px;
  color: #101010;
  margin: 0 0 4px 0;
}

.card-header-text-container span {
  font-size: 14px;
  color: #8d8d8d;
}

.card-header-text-container {
}

.post-text {
  font-size: 14px;
  color: #101010;
  margin: 22px 0;
}

.post-text .readmore-btn {
  background-color: #fff;
  border: 0;
  color: #ff5e8a;
}

.post-image-container {
  position: relative;
}

.post-image {
  width: 100%;
  background: transparent 0% 0% no-repeat padding-box;
  border-radius: 10px;
}

.like-logo {
  width: 24px;
  height: 22px;
  position: absolute;
  right: 35px;
  top: 30px;
}

.post-reactions-container {
  height: 45px;
  padding: 20px;
  border: solid 2px white;
  border-top-color: #f5f5f5;
}

.post-reactions-wrapper {
  margin-top: 10px;
}

.post-reactions-container .reactionIcon {
  height: 22px;
  width: 24px;
  margin-left: 10px;
}
.post-reactions-container .red-heart {
  height: 22px;
  width: 24px;
  margin-left: 10px;
}

.post-reactions-container label {
  font-size: 20px;
  color: #101010;
  margin-left: 10px;
}

/* artist card  */
.toggle-div {
  margin-bottom: 20px;
}

.artist-container .artist-active {
  font-size: 16px;
  font-weight: 600;
  color: #101010;
  text-align: left;
  background-color: #f5f5f5;
  border: 0;
  margin-right: 15px;
}

.artist-container .artist-inactive {
  font-size: 16px;
  font-weight: 600;
  color: #8d8d8d;
  text-align: left;
  background-color: #f5f5f5;
  border: 0;
  margin-right: 15px;
}

.artist-card {
  height: 126px;
  width: 244px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 35px;
}

.artist-card .artist-background-img {
  height: 126px;
  width: 244px;
  border-radius: 10px;
}

.artist-card .shady-image {
  height: 126px;
  width: 244px;
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
  position: absolute;
}

.artist-card .user-text-image-container {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 15px;
  position: absolute;
  bottom: 0px;
}

.artist-card .profile-image-wrapper {
  height: 51px;
  width: 50px;
  margin-right: 10px;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: end;
}

.artist-card .artist-profile-img {
  height: 48px;
  width: 48px;
  border-radius: 10px;
  padding: 0;
  background: transparent 0% 0% no-repeat padding-box;
  /* border: solid 2px #fff; */
}

.artist-card .online {
  height: 10px;
  width: 10px;
  background: #0ec297 0% 0% no-repeat padding-box;
  border: solid 2px #fff;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

.artist-card p {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin: 0 0 4px 0;
}

.artist-card span {
  font-size: 12px;
  color: #fff;
}

/* product card */

.product-card-contianer {
  position: relative;
  height: 300px;
  width: 100%; /* Set the desired width */
 
}
.product-card-wrapper {
  position: absolute;
  left: 0%;
  right: 40%;
  height: 300px;
  width: 100%; /* Set the desired width */
  overflow-x: auto; /* Enable horizontal scrolling */
  /* white-space: nowrap; Prevents wrapping */
  display: flex; /* Aligns child divs in a row */
  gap: 25px; /* Space between child divs */
  padding: 0px;
  border: 0px;
}

.product-card {
  min-width: 320px;
  height: 200px;
  background-color: #f5f5;
  font-size: 20px;
  border-radius: 10px;
}
.product-card .product-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}
.product-card p {
  font-size: 13px;
  margin: 10px 0;
  font-weight: 500;
}
.product-card span {
  font-size: 24px;
  font-weight: 600;
}
.product-card .prize-rating-contiainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.product-card .rating-star {
  width: 14px;
  height: 14px;
  margin: 3px;
}

/* not found */

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

.not-found h1 {
  font-size: 8rem;
  font-weight: bold;
  margin: 0;
}

.not-found p {
  font-size: 1.5rem;
  margin-top: 10px;
}

